@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    font-family: "Roboto";
}

h1{
    color: white;
}

.nav {
    height: 55px;
    background-color:rgb(51,51,51);
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding:0 20px;


}


.nav-links{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style:none;
    text-decoration:none;
}

a:link {
    text-decoration: none;
    color:rgb(214, 211, 211);

}

a.active
{
    color: white;
}



.btn {
    background-color:rgb(20,163,184);
    color:white;
    border: 3px solid black;
    border-color:black;
    border-radius: 10%;
    box-shadow: 3px 2px black;
}
